<%

function getSimpleByte(num) {
  if(num > 1073741824) {
    num = parseFloat(num / 1073741824.0).toFixed(2) + ' GB';
  } else if(num > 1048576) {
    num = parseFloat(num / 1048576.0).toFixed(2) + ' MB';
  } else if(num > 1024) {
    num = parseFloat(num / 1024.0).toFixed(2) + ' KB';
  } else {
    num += ' B';
  }

  return num;
}

%><!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/css/style.css">
  <title>Sleepy Torrent Downloader</title>
</head>
<body>
  <div class="modal fade" id="alertBox" tabindex="-1" role="dialog" aria-labelledby="alertBoxLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content alert-danger">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="alertBoxLabel">Something Went Wrong!</h4>
        </div>
        <div class="modal-body"></div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Dismiss</button>
        </div>
      </div>
    </div>
  </div>

  <nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-menu">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Sleepy Torrent Downloader</a>
    </div>

    <div class="collapse navbar-collapse" id="main-menu">
      <ul class="nav navbar-nav">
        <li><a class="addNewTorrent"><span class="glyphicon glyphicon-plus"></span> Add New Torrents</a></li>
      </ul>
      <p class="navbar-text">Server Time: <% var serverDate = new Date(); %><%= serverDate.getHours() +':'+ (serverDate.getMinutes() < 10 ? '0'+serverDate.getMinutes() : serverDate.getMinutes()) + (serverDate.getHours() > 11 ? 'PM' : ' AM')%></p>
      <ul class="nav navbar-nav navbar-right">
      </ul>
    </div>
  </nav>
  <nav class="navbar torrent-menu">
    <ul class="nav navbar-nav">
      <li onClick="javascript:alert('start / pause');"><span class="glyphicon glyphicon-play"></span> / <span class="glyphicon glyphicon-pause"></span></li>
      <li id="downloadFile" class="invisible" onClick="javascript:alert('download');"><span class="text-success glyphicon glyphicon-download-alt"></span></li>
    </ul>
    <p class="navbar-text">Compressing (Zipping): #2</p>
    <p class="navbar-text">Downloading: #3</p>
    <p class="navbar-text">
      <span class="glyphicon glyphicon-flash"></span> 40%
    </p>
    <p class="navbar-text">
      <span class="glyphicon glyphicon-download"></span> 4MB/s
    </p>
    <p class="navbar-text">
      <span class="glyphicon glyphicon-upload"></span> 2MB/s
    </p>
  </nav>

  <div class="torrent-viewer">
    <ul class="col-lg-4 col-md-4 col-sm-5 torrent-list">
      <% for(var i = 0; i < torrents.length; i++) {
        var currTorrent = torrents[i];
        currTorrent.parsedFiles = JSON.parse("["+currTorrent.files+"]");

        var sumFiles = 0;
        for(var x = 0; x < currTorrent.parsedFiles.length; x++) {

        }
        %>
      <li id="torrent-view-<%= currTorrent.id %>">
        <div class="row">
          <div class="col-sm-12 torrent-list-name">#<%= currTorrent.id %> <%= currTorrent.name %></div>
        </div>
        <div class="row text-muted">
          <div class="col-sm-6 torrent-list-files">Files: <%= currTorrent.files ? currTorrent.parsedFiles.length : 0 %></div>
          <div class="col-sm-6 torrent-list-size">Estimated Size: </div>
        </div>
        <div class="row">
          <div class="col-sm-12 torrent-list-progress">
            <% if(currTorrent.pieces) { %>
            <div class="progress progress-striped active">
              <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="<%= Math.round(currTorrent.pieces / currTorrent.dlpieces * 100) %>%" aria-valuemin="0" aria-valuemax="100" style="width: <%= Math.round(currTorrent.pieces / currTorrent.dlpieces * 100) %>%">
                <span class="sr-only"><%= Math.round(currTorrent.pieces / currTorrent.dlpieces * 100) %>% Complete</span>
              </div>
            </div>
            <% } else if(currTorrent.downloadedat) { %>
            <span class="text-primary">Compressing File</span>
            <% } else if(currTorrent.compressedat) { %>
            <span class="text-success">Ready For Download</span>
            <% } else { %>
            <span class="text-muted">In Queue</span>
            <% } %>
          </div>
        </div>
      </li>
      <% } %>

    </ul>
    <ul class="col-lg-8 col-md-8 col-sm-7 torrent-info">
      <li id="addNewTorrent">
        <h2>Add New Torrent To Queue</h2>

        <form class="torrent-add-form form-horizontal" action="" role="form">
          <div class="torrent-add">
            <div class="form-group">
              <label for="torrent-name-1" class="col-sm-2 control-label">File Name 1</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="torrent-name-1" placeholder="File Name">
              </div>
            </div>
            <div class="form-group">
              <label for="torrent-magnet-1" class="col-sm-2 control-label">Magnet Link 1</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="torrent-magnet-1" placeholder="Magnet Link">
              </div>
            </div>
          </div>
          <div class="torrent-add-option form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <a href="#" onClick="javascript:moreTorrents();"><span class="glyphicon glyphicon-plus"></span> add more torrents</a>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-primary">Add To Queue</button>
              <a onClick="javascript:clearTorrents();" class="btn btn-default">Clear</a>
            </div>
          </div>
        </form>

      </li>
      <% for(var i = 0; i < torrents.length; i++) {
        var currTorrent = torrents[i];
        currTorrent.parsedFiles = JSON.parse("["+currTorrent.files+"]");

        var date = new Date(currTorrent.createdat * 1000);
        var daynight = date.getHours() > 11 ? 'PM' : 'AM';

        if(currTorrent.downloadedat) {
          var downloadDate = new Date(currTorrent.downloadedat * 1000);
          var downloadAbb = downloadDate.getHours() > 11 ? 'PM' : 'AM';
          var downloadText =  downloadDate.getFullYear() + '/' + ( downloadDate.getMonth()+1) + '/' +  downloadDate.getDate() + ' '+( downloadDate.getHours() - (downloadAbb == 'PM' &&  downloadDate.getHours()-12 > 0 ? 12:0))+':'+ (downloadDate.getMinutes() < 10 ? '0'+downloadDate.getMinutes() : downloadDate.getMinutes()) +' '+downloadAbb;
        }

        if(currTorrent.compressedat) {
          var compressDate = new Date(currTorrent.compressedat * 1000);
          var compressAbb = compressDate.getHours() > 11 ? 'PM' : 'AM';
          var compressText =  compressDate.getFullYear() + '/' + ( compressDate.getMonth()+1) + '/' +  compressDate.getDate() + ' '+( compressDate.getHours() - (compressAbb == 'PM' &&  compressDate.getHours()-12 > 0 ? 12:0))+':'+ (compressDate.getMinutes() < 10 ? '0'+compressDate.getMinutes() : compressDate.getMinutes()) +' '+compressAbb;
        }

        currTorrent.parsedFiles = JSON.parse("["+currTorrent.files+"]");
        %>

      <li id="torrent-info-<%= currTorrent.id %>">

        <h2>#<%= currTorrent.id %> <%= currTorrent.name %> <small>Added <%= date.getFullYear() + '/' + (date.getMonth()+1) + '/' + date.getDate() + ' '+(date.getHours() - (daynight == 'PM' && date.getHours()-12 > 0 ? 12:0))+':'+ (date.getMinutes() < 10 ? '0'+date.getMinutes() : date.getMinutes()) +' '+daynight %></small></h2>

        <fieldset><legend>Files <small class="text-muted"><%= currTorrent.files ? currTorrent.parsedFiles.length : 0 %></small></legend>
          <pre class="torrent-info-file-list"><% if(currTorrent.files) {
            for(var i = 0; i < currTorrent.parsedFiles.length; i++) {%>
<%= currTorrent.parsedFiles[i].name %>  --  <% currTorrent.parsedFiles[i].size %>
<% }} %></pre>
        </fieldset>

        <fieldset><legend>Download</legend>
          <dl class="col-xs-6 dl-horizontal text-monospaced">
            <dt>Progress</dt>
            <dd>
              <% if(currTorrent.pieces) { %>
              <span><%= Math.round(currTorrent.pieces / currTorrent.dlpieces * 100) %>%</span>
              <% } else if(currTorrent.downloadedat) { %>
              <span class="text-primary">Compressing File</span>
              <% } else if(currTorrent.compressedat) { %>
              <span class="text-success">Ready For Download</span>
              <% } else { %>
              <span class="text-muted">In Queue</span>
              <% } %>
            </dd>
          </dl>

          <dl class="col-xs-6 dl-horizontal text-monospaced">
            <dt>Ratio (dl/up)</dt>
            <dd><%= currTorrent.dlsize && currTorrent.upsize ? (currTorrent.dlsize/currTorrent.upsize).toFixed(4) : '&infin;' %></dd>
          </dl>

          <dl class="col-xs-6 dl-horizontal text-monospaced">
            <dt>Downloaded</dt>
            <dd><%= currTorrent.dlsize ? getSimpleByte(currTorrent.dlsize) : '&infin;' %></dd>
            <dt>Avg. Download Speed</dt>
            <dd><%= currTorrent.dlspeed ? getSimpleByte(currTorrent.dlspeed) : '&infin;' %></dd>
          </dl>

          <dl class="col-xs-6 dl-horizontal text-monospaced">
            <dt>Uploaded</dt>
            <dd><%= currTorrent.upsize ? getSimpleByte(currTorrent.upsize) : '&infin;' %></dd>
            <dt>Avg. Upload Speed</dt>
            <dd><%= currTorrent.upspeed ? getSimpleByte(currTorrent.upspeed) : '&infin;' %></dd>
          </dl>

          <dl class="col-xs-12 dl-horizontal text-monospaced">
            <dt>Connections</dt>
            <dd>100</dd>

            <dt>Info Hash</dt>
            <dd><%= currTorrent.hash %></dd>
          </dl>

          <dl class="col-xs-12 dl-horizontal text-monospaced">
            <dt>Finished Download</dt>
            <dd><%= currTorrent.downloadedat ? downloadText : '- - -' %></dd>
            <dt>Finished Compressing</dt>
            <dd><%= currTorrent.compressedat ? compressText : '- - -' %></dd>
          </dl>
        </fieldset>

        <fieldset><legend></legend>
          <button onClick="javascript:doDelete(<%= currTorrent.id %>);" type="button" class="btn btn-danger btn-lg btn-block">Delete Torrent</button>
        </fieldset>
      </li>
      <% } %>
    </ul>
  </div>
  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="assets/js/bootstrap.min.js"></script>
  <script src="socket.io/socket.io.js"></script>
  <script src="assets/js/script.js"></script>
</body>
</html>
