<%
var date = new Date(currTorrent.createdat * 1000);
var daynight = date.getHours() > 11 ? 'PM' : 'AM';

if(currTorrent.downloadedat) {
  var downloadDate = new Date(currTorrent.downloadedat * 1000);
  var downloadAbb = downloadDate.getHours() > 11 ? 'PM' : 'AM';
  var downloadText =  downloadDate.getFullYear() + '/' + ( downloadDate.getMonth()+1) + '/' +  downloadDate.getDate() + ' '+( downloadDate.getHours() - (downloadAbb == 'PM' &&  downloadDate.getHours()-12 > 0 ? 12:0))+':'+ (downloadDate.getMinutes() < 10 ? '0'+downloadDate.getMinutes() : downloadDate.getMinutes()) +' '+downloadAbb;
}

if(currTorrent.compressedat) {
  var compressDate = new Date(currTorrent.compressedat * 1000);
  var compressAbb = compressDate.getHours() > 11 ? 'PM' : 'AM';
  var compressText =  compressDate.getFullYear() + '/' + ( compressDate.getMonth()+1) + '/' +  compressDate.getDate() + ' '+( compressDate.getHours() - (compressAbb == 'PM' &&  compressDate.getHours()-12 > 0 ? 12:0))+':'+ (compressDate.getMinutes() < 10 ? '0'+compressDate.getMinutes() : compressDate.getMinutes()) +' '+compressAbb;
}
%>

<li id="torrent-info-<%= currTorrent.id %>">

  <h2>#<%= currTorrent.id %> <%= currTorrent.name %> <small>Added <%= date.getFullYear() + '/' + (date.getMonth()+1) + '/' + date.getDate() + ' '+(date.getHours() - (daynight == 'PM' && date.getHours()-12 > 0 ? 12:0))+':'+ (date.getMinutes() < 10 ? '0'+date.getMinutes() : date.getMinutes()) +' '+daynight %></small></h2>

  <fieldset><legend>Files <small class="text-muted"><%= currTorrent.f_filename ? currTorrent.f_filename.length : 0 %></small></legend>
    <pre class="torrent-info-file-list"><span class="file-list-pre"><% if(currTorrent.f_filename) {
      var foldernames = [], tabs =  '';
      for(var x = 0; x < currTorrent.f_filename.length; x++) {
        var checkFolder = currTorrent.f_filename[x].split('/');

        if(checkFolder.length > 1) {
          for(var folders = 0; folders < checkFolder.length-1; folders++) {
            if(foldernames.length <= 0) {
              console.log(checkFolder);
              for(var addtabs = 0; addtabs < folders; addtabs++) {
                switch(addtabs) {
                  case folders-1:
                  %>&boxvr;&boxh; <%
                  break;
                  case 0:
                  %>&boxv;  <%
                  break;
                  default:
                  %>   <%
                }
              }
              foldernames.push(checkFolder[folders]);
              %><%= checkFolder[folders] %>
<%
            } else {
              if(foldernames[folders] != checkFolder[folders]) {
                for(var addtabs = 0; addtabs < folders; addtabs++) {
                  switch(addtabs) {
                    case folders-1:
                    %>&boxvr;&boxh; <%
                    break;
                    case 0:
                    %>&boxv;  <%
                    break;
                    default:
                    %>   <%
                  }
                }
                for(var delFolders = folders+1; delFolders < foldernames.length-1; delFolders++) {
                  delete foldernames[delFolders];
                }
                foldernames[folders] = checkFolder[folders];
                %><%= checkFolder[folders] %>
<%
              }
            }
          }
        }

        for(var addtabs = 0; addtabs < folders; addtabs++) {
          switch(addtabs) {
            case folders-1:
              %>&boxvr;&boxh; <%
              break;
            case 0:
              %>&boxv;  <%
              break;
            default:
              %>&boxv;  <%
          }
        } %><%= checkFolder[checkFolder.length-1] + '  --  ' + getSimpleByte(currTorrent.f_filesize[x]) %>
<% }} %></span><div class="file-list-toggle text-center"><span class="glyphicon glyphicon-chevron-down"></span></div></pre>
  </fieldset>

  <fieldset><legend>Download</legend>
    <dl class="col-xs-6 dl-horizontal text-monospaced">
      <dt>Progress</dt>
      <dd>
        <% if(currTorrent.pieces) { %>
        <span><%= Math.round(currTorrent.pieces / currTorrent.dlpieces * 100) %>%</span>
        <% } else if(currTorrent.downloadedat) { %>
        <span class="text-primary">Compressing File</span>
        <% } else if(currTorrent.compressedat) { %>
        <span class="text-success">Ready For Download</span>
        <% } else { %>
        <span class="text-muted">In Queue</span>
        <% } %>
      </dd>
    </dl>

    <dl class="col-xs-6 dl-horizontal text-monospaced">
      <dt>Ratio (dl/up)</dt>
      <dd><%= currTorrent.dlsize && currTorrent.upsize ? (currTorrent.dlsize/currTorrent.upsize).toFixed(4) : '&infin;' %></dd>
    </dl>

    <dl class="col-xs-6 dl-horizontal text-monospaced">
      <dt>Downloaded</dt>
      <dd><%= currTorrent.dlsize ? getSimpleByte(currTorrent.dlsize) : '&infin;' %></dd>
      <dt>Avg. Download Speed</dt>
      <dd><%= currTorrent.dlspeed ? getSimpleByte(currTorrent.dlspeed) : '&infin;' %></dd>
    </dl>

    <dl class="col-xs-6 dl-horizontal text-monospaced">
      <dt>Uploaded</dt>
      <dd><%= currTorrent.upsize ? getSimpleByte(currTorrent.upsize) : '&infin;' %></dd>
      <dt>Avg. Upload Speed</dt>
      <dd><%= currTorrent.upspeed ? getSimpleByte(currTorrent.upspeed) : '&infin;' %></dd>
    </dl>

    <dl class="col-xs-12 dl-horizontal text-monospaced">
      <dt>Info Hash</dt>
      <dd><%= currTorrent.hash %></dd>
    </dl>

    <dl class="col-xs-12 dl-horizontal text-monospaced">
      <dt>Finished Download</dt>
      <dd><%= currTorrent.downloadedat ? downloadText : '- - -' %></dd>
      <dt>Finished Compressing</dt>
      <dd><%= currTorrent.compressedat ? compressText : '- - -' %></dd>
    </dl>
  </fieldset>

  <fieldset><legend></legend>
    <button onClick="javascript:doDelete(<%= currTorrent.id %>);" type="button" class="btn btn-danger btn-lg btn-block">Delete Torrent</button>
  </fieldset>
</li>
